# --- À CONSERVER ABSOLUMENT (Ne pas ignorer) ---
!*.wbp
!*.wdp
!*.wwn
!*.wdr
!*.ana
!*.wde

# --- Répertoires de compilation et de travail ---
*_WEB/
*.cpl/
/Compile/
/Exe/

# --- Fichiers de données locaux ---
*.fic
*.ndx
*.mmo
*.ftx

# --- Fichiers utilisateur (Spécifiques à chaque PC) ---
*.env
*.user
*.history
*.lock
*.tmp
*.manifest
# *.pjt  

# --- Sauvegardes ---
*.bkp
*.sav
*.bak